<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <header>
        <p>La Mouette</p>
        <nav>
            <ul>
                <li>Home</li>
                <li>Boat List</li>
                <li>Add Boat</li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="card">
            <section class="card-img">
                <img src="/img/yacht.png" alt="">
            </section>
            <section class="card-details">
                <p>al said</p>
                <a href="#" class="button">5K/Day</a>
            </section>
        </section>
    </main>
</body>
</html>